{% extends 'base.html' %} {%load static %} <!-- If you have a base template, extend it -->

{% block pageContent %}
<li class="nav-item">
    <a class="my-4 nav-link float-right" style="background-color: aliceblue;" aria-current="page" href="{% url 'home-page' %}">HOME</a>
</li>
<div class="row">
    <div style="background-color:aliceblue"><h1 align="center" style="color:black">REQUESTS</h1></div>
    {% for item in data %}
    <div class="card col-md-8 m-1" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><p> {{ item.name }}</p></h5>
        <h5 class="card-title"><p> {{ item.state }}</p></h5>
        <p class="card-text"> <p>ID: {{ item.id }}</p></p>
        <p class="card-text"><p>reason: {{ item.reason }}</p></p>
        <p class="card-text"><p>phone: {{ item.phone }}</p></p>
        <p class="card-text">     <p>location: {{ item.location }}</p></p>
        <p class="card-text"><p>dod: {{ item.date_depart|date:"F d, Y" }}</p></p>
        <p class="card-text"><p>dor: {{ item.date_return |date:"F d, Y" }}</p></p>
         
        
      </div>
    </div>
  
  {% endfor %}
  
   </div>
{% endblock %}