{% extends 'base.html' %} {%load static %} <!-- If you have a base template, extend it -->

{% block pageContent %}
<section>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open Modal
  </button>

  {% for message in messages %}
  <div class="alert alert-success" role="alert"></div>
  {% endfor %}

 <div class="col-3">
  {% for item in data %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><p> {{ item.name }}</p></h5>
      <p class="card-text"> <p>reason: {{ item.reason }}</p></p>
      <p class="card-text"><p>phone: {{ item.phone }}</p></p>
      <p class="card-text">     <p>location: {{ item.location }}</p></p>
      <p class="card-text"><p>dod: {{ item.date_depart|date:"F d, Y" }}</p></p>
      <p class="card-text"><p>dor: {{ item.date_return |date:"F d, Y" }}</p></p>
      <a href="#" class="btn btn-danger">REJECT</a>
      <a href="#" class="btn btn-success">ACCEPT</a>
    </div>
  </div>

{% endfor %}

 </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Modal body content goes here -->
          <form action='' method="post">
            {% csrf_token %} <!-- Add CSRF token for security -->
           
            <div class="form-group">
              <label for="email">reason</label>
              <input type="text" class="form-control" id="reason" name="reason">
            </div>
            <div class="form-group">
              <label for="phone">location</label>
              <input type="text" class="form-control" id="location" name="location">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone">
              </div>
            <div class="form-group">
              <label for="dob">Date of departure</label>
              <input type="date" class="form-control" id="dod" name="dod" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of returning</label>
                <input type="date" class="form-control" id="dor" name="dor" required>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>  
        </form>
        </div>
       
      </div>
    </div>
  </div>
</section>  
{% endblock %}
